.input-wrapper {
  text-align: left;
}

label {
  color: antiquewhite;
  text-align: left;
  font-size: 12px;
}

input {
  padding: 0.25rem;
  border-radius: 4px;
  outline: none;
  box-shadow: none;
  border: none;
  width: 100%;
}
